# Bluesky PDS runtime secrets (see https://github.com/bluesky-social/pds).
apiVersion: v1
kind: Secret
metadata:
  name: pds-env
  namespace: pds
type: Opaque
stringData:
  # openssl rand -hex 16
  PDS_JWT_SECRET: CHANGEME
  # openssl rand -base64 24
  PDS_ADMIN_PASSWORD: CHANGEME
  # secp256k1 private key, hex:
  # openssl ecparam -name secp256k1 -genkey -noout -outform DER | tail -c +8 | head -c 32 | xxd -p -c 32
  PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX: CHANGEME
